<ion-view view-title="Setting">
	<ion-content>
		<div class="row">
			<div class="col-80 col-offset-10 text-center">
				<h2>Welcome demo user!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="list list-inset">
					<div class="card">
					    <div class="item">
					     	Username : demo
					    </div>
					    <div class="item">
					     	Organization: WebSoftAgency
					    </div>
					    <div class="item">
      						Avatar : 
    					</div>
					    <div class="item item-image" style="border-top:none;">
    						<img src="./img/logo.png">
							<div class="spacer" style="height:40px"></div>
 						</div>
					</div>
				</div>
			</div>
		</div>
		<ion-nav-view></ion-nav-view>
	</ion-content>
</ion-view>