<ion-view>
    <ion-content padding="true" class="has-header" scroll="false">
        <form>
             <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
				<label class="item item-input">
                    <input type="password" placeholder="Confirm password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-light button-block">Create</button>
			<a ui-sref="app.signIn" href="#/signup" class="button button-positive button-clear button-block">Sign in</a>
        </form>
    </ion-content>
</ion-view>